body{
	margin:0;
	padding:0;
}

#nav{
	background-color:gray;
	float:left;
	text-align:center;
	width:100%;
}
.navSel{
	padding:0 20px;
	text-align:center;
}
.navSel:hover .dropdown{
	display:block;
}
.dropdown{
	display:none;
}
